.home {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
  overflow-y: overlay;
  align-items: center;
  background: linear-gradient(
    178.1deg,
    rgb(60, 55, 106) 8.5%,
    rgb(23, 20, 69) 82.4%
  );
  .home_wrapper {
    width: 100%;
    max-width: 1424px;
    .home_container {
      display: flex;
      width: 100%;
      max-width: 1424px;
      .home_container_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        max-width: 1024px;
        .playlist_container {
          display: flex;
          width: 100%;
          justify-content: space-evenly;
        }
      }
    }
  }
  .home_bottom {
    height: 80px;
    width: 100%;
  }
}
.home::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1100px) {
  .home {
    .home_wrapper {
      width: 100%;
      max-width: 1100px;
      .home_container {
        .home_container_right {
          width: 60%;
          .playlist_container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 875px) {
  .home {
    .home_wrapper {
      width: 100%;
      min-width: 700px;
      .home_container {
        .home_container_right {
          width: 60%;
          .playlist_container {
            display: flex;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .home {
    .home_wrapper {
      width: 100%;
      .home_container {
        display: flex;
        width: 100%;
        min-width: 400px;
        max-width: 550px;
        .home_container_right {
          display: flex;
          // width: 30%;
          .playlist_container {
            display: flex;
          }
        }
      }
    }
  }
}
