.home {
  display: flex;
  width: 100%;
  .home_container_right {
    display: flex;
    flex-direction: column;
    .playlist_container {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
    }
  }
}
.home::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1100px) {
  .home {
    display: flex;
    width: 100%;
    .home_container_right {
      width: 75%;
      .playlist_container {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 945px) {
  .home {
    .home_container_right {
      width: 65%;
      .playlist_container {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .home {
    display: flex;
    justify-content: center;
    .home_container_right {
      display: flex;
      width: 90%;
      align-items: center;
      .playlist_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
      }
    }
  }
}
