.soundbar {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  width: 100%;
  height: 80px;
  transition: height ease-in 0.15s;
  &.open {
    height: 90vh;
  }
  z-index: 1000;

  .progressBar {
    height: 3px;
    -webkit-appearance: none;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #3b7677;
    transition: background 0.2s ease;
    cursor: pointer;
  }
  .progressBar::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
  }
  .soundbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3px 100px;
    width: 90%;
    max-width: 1600px;
    &.open {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    .soundbar_left {
      .button_container {
        display: flex;
        justify-content: center;
        align-items: center;
        .icon_container {
          .skip_icon {
            font-size: 25px;
            margin: 0px 10px;
            cursor: pointer;
          }
          .skip_icon:hover {
            color: white;
          }
          .play_icon {
            font-size: 40px;
            cursor: pointer;
          }
          .play_icon:hover {
            color: white;
          }
        }
      }
    }
    .soundbar_middle {
      display: flex;
      align-items: center;
      color: gray;
      .liked_component {
        z-index: 999;
        color: black;
        margin-left: 25px;
        cursor: pointer;
        &.true {
          color: green;
        }
      }
      .middle_left {
        margin-right: 10px;
        img {
          height: 50px;
          width: 50x;
          border-radius: 5px;
        }
      }
      .middle_right {
        margin-left: 5px;
        text-transform: capitalize;
        h4 {
          font-weight: 550;
        }
        p {
          font-size: 12px;
        }
      }
    }
    .soundbar_right {
      display: flex;
      cursor: pointer;
      position: relative;
      .right_icon {
        margin: 0px 8px;
        &.active {
          color: aquamarine;
        }
      }
      .right_icon:hover {
        color: white;
      }
    }
    .soundbar_open_container {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      .soundbar_open_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .soundbar_top {
          display: flex;
          flex-direction: column;
          color: gray;

          .top_left {
            img {
              height: 300px;
              width: 300x;
              border-radius: 5px;
              margin-bottom: 15px;
              box-shadow: 18px 15px 5px -2px rgba(0, 0, 0, 0.29);
              -webkit-box-shadow: 18px 15px 5px -2px rgba(0, 0, 0, 0.29);
              -moz-box-shadow: 18px 15px 5px -2px rgba(0, 0, 0, 0.29);
            }
          }
          .top_info_container {
            display: flex;
            justify-content: space-between;
            .top_right {
              h4 {
                font-weight: 550;
              }
              p {
                font-size: 12px;
              }
            }
            .button_container {
              .MuiSvgIcon-root {
                color: black;
              }
              .queue_icon {
                display: none;
              }
            }
          }
        }
        .soundbar_controls {
          .button_container {
            display: flex;
            justify-content: center;
            align-items: center;
            .icon_container {
              .skip_icon {
                font-size: 25px;
                margin: 0px 10px;
                padding: 5px;
                cursor: pointer;
                &.active {
                  color: rgb(19, 201, 140);
                  border-radius: 50%;
                  // box-shadow: 0 0 10px 5px gray;
                  // // /* inner white */ 0 0 100px 60px #f0f,
                  // /* middle magenta */ 0 0 140px 90px #0ff; /* outer cyan */
                }
              }
              .skip_icon:hover {
                color: white;
              }
              .play_icon {
                font-size: 40px;
                cursor: pointer;
              }
              .play_icon:hover {
                color: white;
              }
            }
          }
        }
        .soundbar_top_right {
          display: flex;
          cursor: pointer;
          position: relative;

          .right_icon {
            margin: 0px 8px;
          }
          .right_icon:hover {
            color: white;
          }
        }
      }
    }
    .queue_component {
      display: flex;
      flex-direction: column;
      height: 65%;
      overflow-y: auto;
      .queue_track_info_container {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 10px 10px;
        border-radius: 10px;
        border-bottom: 2px solid lightgrey;
        color: gray;
        img {
          height: 40px;
          border-radius: 5px;
          box-shadow: 3px 3px 10px gray;
        }
        &.active {
          color: red;
        }
      }
      .queue_track_info_container:hover {
        background-color: #c3cfe2;
      }
    }
    .queue_component::-webkit-scrollbar {
      display: none;
    }
  }
}

@media screen and (max-width: 750px) {
  .soundbar {
    position: fixed;
    height: 65px;
    bottom: 80px;
    &.open {
      height: 80vh;
    }
    .soundbar_container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0px 100px;
      width: 90%;
      max-width: 1600px;
      flex-direction: row-reverse;
      &.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
      .soundbar_left {
        .button_container {
          display: flex;
          justify-content: center;
          align-items: center;
          .icon_container {
            .skip_icon {
              font-size: 20px;
              margin: 0px 10px;
              cursor: pointer;
            }
            .skip_icon:hover {
              color: white;
            }
            .play_icon {
              font-size: 35px;
              cursor: pointer;
            }
            .play_icon:hover {
              color: white;
            }
          }
        }
      }
      .soundbar_middle {
        display: flex;
        align-items: center;
        color: gray;
        .middle_left {
          margin-right: 10px;
          img {
            height: 40px;
            width: 40x;
            border-radius: 5px;
          }
        }
        .middle_right {
          margin-left: 5px;
          h4 {
            font-weight: 550;
            text-transform: capitalize;
            font-size: 10px;
          }
          p {
            font-size: 10px;
          }
        }
        .favourite_icon {
          color: black;
          margin-left: 25px;
          font-size: 20px;
        }
      }
      .soundbar_right {
        display: flex;
        cursor: pointer;
        position: relative;
        .right_icon {
          margin: 0px 8px;
          &.active {
            color: aquamarine;
          }
          &.hide {
            display: none;
          }
        }
        .right_icon:hover {
          color: white;
        }
      }
      .soundbar_open_container {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        .soundbar_open_wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;

          .soundbar_top {
            display: flex;
            flex-direction: column;
            color: gray;
            .top_left {
              img {
                height: 250px;
                border-radius: 5px;
                margin-bottom: 15px;
                box-shadow: 18px 15px 5px -2px rgba(0, 0, 0, 0.29);
                -webkit-box-shadow: 18px 15px 5px -2px rgba(0, 0, 0, 0.29);
                -moz-box-shadow: 18px 15px 5px -2px rgba(0, 0, 0, 0.29);
              }
            }
            .top_info_container {
              display: flex;
              justify-content: space-between;
              width: 100%;
              .top_right {
                text-transform: capitalize;
                h4 {
                  font-weight: 550;
                }
                p {
                  font-size: 12px;
                }
              }
              .button_container {
                display: flex;
                .MuiSvgIcon-root {
                  color: black;
                  margin-right: 5px;
                }
                .queue_icon {
                  display: flex;
                }
              }
            }
          }
          .soundbar_controls {
            .button_container {
              display: flex;
              justify-content: center;
              align-items: center;
              .icon_container {
                .skip_icon {
                  font-size: 25px;
                  margin: 0px 10px;
                  padding: 5px;
                  cursor: pointer;
                  &.active {
                    color: rgb(19, 201, 140);
                    border-radius: 50%;
                    // box-shadow: 0 0 10px 5px gray;
                    // // /* inner white */ 0 0 100px 60px #f0f,
                    // /* middle magenta */ 0 0 140px 90px #0ff; /* outer cyan */
                  }
                }
                .skip_icon:hover {
                  color: white;
                }
                .play_icon {
                  font-size: 40px;
                  cursor: pointer;
                }
                .play_icon:hover {
                  color: white;
                }
              }
            }
          }
          .soundbar_top_right {
            display: flex;
            cursor: pointer;
            position: relative;

            .right_icon {
              margin: 0px 8px;
            }
            .right_icon:hover {
              color: white;
            }
          }
        }
      }
      .queue_component {
        flex-direction: column;
        .queue_track_info_container {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;
          padding: 10px 10px;
          border-radius: 10px;
          border-bottom: 2px solid lightgrey;
          color: gray;
          font-size: 12px;
          text-transform: capitalize;
          img {
            height: 25px;
            border-radius: 5px;
            box-shadow: 3px 3px 10px gray;
          }
          &.active {
            color: red;
          }
        }
        .queue_track_info_container:hover {
          background-color: #c3cfe2;
        }
      }
    }
  }
}
