.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: overlay;
  align-items: center;
  background: linear-gradient(
    178.1deg,
    rgb(60, 55, 106) 8.5%,
    rgb(23, 20, 69) 82.4%
  );
  .top_wrapper {
    width: 100%;
    max-width: 1424px;
    .middle_container {
      display: flex;
      width: 100%;
      max-width: 1424px;
      margin-bottom: 80px;
    }
  }
  .bottom_container {
    height: 80px;
    width: 100%;
  }
}
.container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 750px) {
  .container {
    display: flex;
    flex-direction: column;
    .top_wrapper {
      width: 100%;
      .middle_container {
        margin-bottom: 145px;
      }
    }
  }
}
