.sidebar {
  display: flex;
  color: aquamarine;
  height: 50%;
  margin: 5px 30px 50px 100px;
  border-radius: 20px;
  background: linear-gradient(
    178.1deg,
    rgb(71, 63, 143) 8.5%,
    rgb(39, 36, 97) 82.4%
  );
  .sidebar_playlist_modal_container {
    height: 350px;
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 999;
    top: 40%;
    left: 40%;
    background-color: rgb(39, 36, 97);
    border-radius: 10px;
    .input_parent_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .input_container {
        margin: 5px;
        color: white;
        .input {
          outline: none;
          border: none;
          width: 250px;
          padding: 10px 10px;
          border-radius: 20px;
          &.switch {
            width: 60px;
          }
        }
      }
      .submit_button {
        display: flex;
        margin: 10px 20%;
        padding: 0px 0px;
        justify-content: center;
        border: 1px solid #256d85;
        width: 150px;
        border-radius: 5px;
        background-color: #256d85;
        p {
          color: white;
          font-size: 12px;
        }
      }
    }
    .close_icon {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      cursor: pointer;
    }
  }
  .sidebar_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    width: 80px;
    height: auto;
    .sidebar_top {
      display: flex;
      height: 120%;
      .sidebar_items {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .sidebar_item {
          display: flex;
          align-items: center;
          margin: 5px 0px;
          color: aquamarine;
          cursor: pointer;
          &.type {
            margin: 25px 10px 8px 0px;
          }
        }

        .sidebar_item:hover {
          color: rgba(127, 255, 212, 0.151);
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .sidebar {
    display: flex;
    width: 105vw;
    position: fixed;
    bottom: 0px;
    z-index: 999;
    height: 80px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px;
    .sidebar_container {
      display: flex;
      width: 100vw;
      align-items: center;
      justify-content: space-evenly;

      margin: 0px;
      .sidebar_top {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .sidebar_items {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          width: 100%;
          .sidebar_item {
            &.type {
              margin: 0px;
            }
          }
        }
      }
    }
  }
}
